@keyframes blink-warning {
  70% {
    color: white;
  }

  to {
    color: @warning;
    background-color: orange;
  }
}

@keyframes blink-critical {
  70% {
    color: @critical;
  }

  to {
    color: white;
    background-color: @warning;
  }
}

/* Reset all styles */
* {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0px;
}

window#waybar {
  background: @theme_base_color;
  border-bottom: 1px solid @muted;
  color: @theme_text_color;
}

/* Set margin and padding for all */
#backlight,
#battery,
#bluetooth,
#clock,
#cpu,
#custom-notifications,
#disk,
#language,
#memory,
#mode,
#network,
#pulseaudio,
#scratchpad,
#workspace,
#tray {
  padding: 0.3rem 0.4rem;
}

#workspaces {
  padding: 0px;
}

#workspaces button {
  font-weight: bold;
  margin: 0px;
}

#workspaces button.active {
  border-bottom: 2px solid @warning;
  color: @warning;
}

#workspaces button.focused {
  border-bottom: 2px solid @warning;
  color: @warning;
}

#workspaces button.urgent {
  animation-name: blink-critical;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  color: @critical;
}

#battery.full,
#battery.charging {
  color: @ok;
  animation-name: full;
}
#battery.discharging {
  color: @warning;
  /* DO ANIMATE HERE */
  animation-name: blink-critical;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 10;
  animation-direction: alternate;
}

#network.disconnected {
  color: @muted;
}
#network.disabled {
  color: @critical;
}

#network.wifi,
#network.ethernet,
#network.linked {
  color: @ok;
}

#memory {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#mode {
  font-style: oblique;
  color: @critical;
  margin-left: 5px;
}

#pulseaudio.muted {
  color: @muted;
}

#custom-notifications {
  padding-right: 7px;
}
