name: CI | Nix checks
on:
  push:
    paths:
      - '**/*.nix'
      - 'flake.lock'
      - 'flake.nix'
jobs:
  deadnix:
    name: Deadnix
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5.0.1
      - uses: cachix/install-nix-action@v31
      - uses: cachix/cachix-action@v16
        with:
          name: deadnix
      - uses: astro/deadnix-action@main
        with:
          author: "Sebasti치n Zaffarano <sebas@zaffarano.com.ar>"
          committer: "Sebasti치n Zaffarano <sebas@zaffarano.com.ar>"
          commit_message: "chore: Remove dead code"
  statix:
    name: Statix
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5.0.1
      - uses: cachix/install-nix-action@v31
      - uses: cachix/cachix-action@v16
        with:
          name: statix
      - uses: jocelynthode/statix-action@master
        with:
          author: "Sebasti치n Zaffarano <sebas@zaffarano.com.ar>"
          committer: "Sebasti치n Zaffarano <sebas@zaffarano.com.ar>"
          commit_message: "chore: Lint Nix code"
          token: ${{ secrets.GH_TOKEN_FOR_UPDATES }}
