name: CI | generic checks
on:
  pull_request:
  push:
    branches:
      - master
      - develop
jobs:
  check:
    name: Lint and type-check Nix code
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v6
      - uses: docker/setup-qemu-action@v3
      - uses: DeterminateSystems/nix-installer-action@main
        with:
          extra-conf: |
            extra-platforms = aarch64-linux
      - uses: DeterminateSystems/flakehub-cache-action@main
      - name: Run pre-commit checks via Nix
        run: nix flake check
      - name: Show flake outputs
        run: nix flake show
